body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    border: 2px orange solid;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logobox{
    border: 2px black solid;
    width: 300px;
    height: 100%;
    text-align: center;

}

.category{
    border: 2px black solid;
    width: 200px;
    height: 100%;
    text-align: center;
}

.slide-box{
    border: 2px orange solid;
    width: 100%;
    height: 400px;
    text-align: center;
}

.map-box{
    border: 2px orange solid;
    width: 100%;
    height: 400px;
    text-align: center;
}