{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>행요page1</title>
    <link rel="stylesheet" href="{%static '/page1.css'%}">
</head>
<body>

    <nav class="navbar">
        <div class="logobox">
            logobox<br>
            logo
            </div>

        <div class="category">
            category1<br>
            가맹점조회    
        </div>

        <div class="category">
            category2<br>
            잔액확인    
        </div>

        <div class="category">
            category3<br>
            커뮤니티    
        </div>

    </nav>

    <div class="slide-box">
        <img src="/static/swingkid.jpg" width="100%" height="100%">
    </div>

    <div class="map-box">
        지도
    </div>
</body>
</html>